{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_frontend %}
{% load material_form %}

{% include 'navbar.html' %}

<div>
    <br>
</div>
<div class="card" style="width:50%">

<form action="{% url 'manuallog' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="right-align">
    <input type="submit" value="Lisa" class="btn btn-small green">
    </div>
</form>
</div>
