<nav>
<div class="nav-wrapper">
{#    <a href="#" class="brand-logo">Logo</a>#}
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url "manuallog" %}" class="waves-effect waves-light btn blue">
            Lisa käsitsi
        </a></li>
        <li><a href="{% url "index" %}" class="waves-effect waves-light btn blue">
            Tundmatud kaardid
        </a></li>
        <li><a href="{% url "log" %}" class="waves-effect waves-light btn blue">
            Sündmuste logi
        </a></li>
    </ul></div>



</nav>