{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_frontend %}
{% load material_form %}

{% include 'navbar.html' %}

<div class="card" style="width:50%">

<table class="highlight">

    <thead>
    <th>Viimati kasutatud</th>
    <th>Kaart</th>
    </thead>
    <tbody>
    {% for card in cards %}
        <tr>
            <td>{{ card.last_used | date:'Y-m-d H:i:s' }}</td>
            <td><a href="{% url 'admin:users_card_change' card.card_id %}">Lisa uus inimene.
                Kaart: {{ card.uid | slice:"-10:" }} </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</div>
