{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_frontend %}
{% load material_form %}

{% include '../navbar.html' %}

<div class="card" style="width:50%"'>
<a href="{% url "exportcsv" %}" class="waves-effect waves-light btn-small right green">
    CSV <i class="material-icons right">download</i></a>
<table class="highlight">

    <thead>
    <tr>
        <th>
            Aeg
        </th>
        <th>
            Isik
        </th>
    </tr>
    </thead>
    <tbody>
    {% for doorlog in doorlog_list %}
        <tr>
            <td>{{ doorlog.event_date | date:'Y-m-d H:i:s' }}</td>
            <td>
                {% if doorlog.card.person %}
                    {{ doorlog.card.person.name }}
                {% elif doorlog.src == 'LOG_ACTION' %}
                    <a href="{% url 'admin:users_card_change' doorlog.card_id %}">Lisa uus inimene.
                        Kaart: {{ doorlog.card.uid | slice:"-10:" }} </a>
                {% else %}
                    {{ doorlog.person.name }} lisas {{ doorlog.src }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</div>
